{% extends "add_base.html" %}
{% load bootstrap3 %}
{% block content %}

<body>

<h2>{{ view.user.username }} Worms</h2>


{% for worm in worms %}
  <p><a href="{% url 'worm_detail' worm.pk %}">{{worm.slink}}</a> -
    {{ worm.wtitle }}-{{worm.timestamp}} <small>
    <a href="{% url 'edit_worm' worm.pk %}"><span class="glyphicon glyphicon-pencil"></span></a> |
    <a href="{% url 'delete_worm' worm.pk %}"><span class="glyphicon glyphicon-trash"></span></a></small> </p>
{% endfor %}


{% bootstrap_pagination page_obj pages_to_show=5%}
{% endblock %}
