{% extends "add_base.html" %}
{% load bootstrap3 %}
{% block content %}

<body>

{% if worms %}
{% if user == view.user %}
<h2>{{ view.user.username }}'s Worms by Popularity (30 Days)</h2>
<table class="table table-striped">
<tr>
  <th>Inch Worm</th>
  <th></th>
  <th>Title</th>
  <th>Bird</th>
  <th>Date</th>
  <th>Clicks</th>
  <th></th>
</tr>
{% for worm in worms %}
  <tr>
    <td><b><a href="{% url 'redirect_slink' worm.slink %}">{{ worm.slink|ljust:10 }}</a></b></td>
    <td><a href="{% url 'click_list' worm.pk %}"><span class="glyphicon glyphicon-info-sign"></span></a>
      {% if user == view.user %}
        <a href="{% url 'edit_worm' worm.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
      {% endif %}
    </td>
    <td>{{ worm.wtitle|truncatechars:50 }}</td>
    {% if worm.user %}
      <td><a href="{% url 'bird_list' worm.user.pk %}">{{ worm.user }}</a></td>
    {% else %}
      <td>anonymous</td>
    {% endif %}
    <td><small>{{ worm.timestamp }} ({{ worm.timestamp | timesince }} ago)</small></td>
    <td><a href="{% url 'delete_worm' worm.pk %}"><span class="glyphicon glyphicon-trash"></span></a></td>
    <td>{{ worm.numclicks }}</td>
  </tr>
{% endfor %}
</table>
<div class="text-center">
  {% bootstrap_pagination page_obj pages_to_show=5 %}
</div>
{% endif %}
{% else %}
<h2>{{ view.user.username }}</h2>
<h4>None of your worms have clicked used in the last month.<h4>
{% endif %}
{% endblock %}
