{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}

<body>
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title"><b>Worm Details</b></h1>
        </div>
        <div class="panel-body">
          <p><b>Title: </b>{{ worm.wtitle }}
          <br>
          <b>Description: </b>{{ worm.winfo }}
          <br>
          {% if worm.user %}
          <b>Bird: </b><a href="{% url 'bird_list' worm.user_id %}">{{ worm.user.username }}</a>
          <br>
          {% endif %}
          <b>Inch Worm: <a href="{% url 'redirect_slink' worm.slink %}">{{worm.slink}}</a></b>
          <br>
          <b>Full Link: </b><a href="{% url 'redirect_slink' worm.slink %}">{{worm.flink}}</a>
          <br>
          <small> {{worm.timestamp}} - {{worm.timestamp | timesince}} ago&nbsp;&nbsp;
            {% if user.pk == worm.user_id %}
              <a href="{% url 'edit_worm' worm.pk %}"><span class="glyphicon glyphicon-pencil"></span></a> |
              <a href="{% url 'delete_worm' worm.pk %}"><span class="glyphicon glyphicon-trash"></span></a>
            {% endif %}</small>
          </p>
        </div>
      </div>
    </div>
  </div>

{% if clicks %}
<br>
<table class="table table-striped">
<tr>
  <th>Click Date</th>
  <th>User</th>
</tr>
{% for click in clicks %}
  <tr>
    <td>{{ click.timestamp }} ({{ click.timestamp | timesince }} ago)</td>
    {% if click.user %}
    <td><b><a href="{% url 'bird_list' click.user.pk %}">{{ click.user }}</a></b></td>
    {% else %}
    <td>anonymous</td>
    {% endif %}
  </tr>
{% endfor %}
</table>

<div class="text-center">
  {% bootstrap_pagination page_obj pages_to_show=5 %}
</div>
{% endif %}
{% endblock %}
