{% extends "base.html" %}


{% block content %}
<h1>Edit Worm</h1>

<form method="POST" action="{% url 'edit_worm' worm_id %}">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-8">
      <textarea class="form-control" cols="90" id="id_flink" maxlength="2000" name="flink" rows="1">{{ worm.flink }}</textarea>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4">
      <textarea class="form-control" cols="40" id="id_wtitle" maxlength="100" name="wtitle" rows="1">{{ worm.wtitle }}</textarea>
      <br>
      <input type="submit" class="btn btn-md btn-primary" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Submit edit!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;">
    </div>
    <div class="col-md-4">
      <textarea class="form-control" cols="40" id="id_winfo" maxlength="255" name="winfo" rows="4">{{ worm.winfo }}</textarea>
    </div>
  </div>
</form>
{% endblock %}
