.navbar-inverse{
      background-color:#2196f3;
      border-color:transparent}
.navbar-inverse .navbar-brand{
      color:#b2dbfb}.navbar-inverse
.navbar-nav>li>a{
      color:#b2dbfb}.navbar-inverse
.navbar-nav>li>a:hover,.navbar-inverse

.btn-primary{
    background-color:#2196f3;
    border-color:transparent}
.btn-primary{background-color:#2196f3;
    border-color:transparent;
    color:#EBF5FF}

.btn-primary{
      color:#EBF5FF;
      background-color:#2196f3;
      border-color:transparent}.btn-primary:focus,
.btn-primary.focus{
      color:#EBF5FF;
      background-color:#ffffff;
      border-color:rgba(0,0,0,0)}.btn-primary:hover{
                                              color:#ffffff;
                                              background-color:#0c7cd5;
                                              border-color:rgba(0,0,0,0)
                                              }.btn-primary:active,


                                              .panel-heading > .dropdown .dropdown-toggle {
                                                color: inherit;
                                              }




.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #0c7cd5;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: transparent;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: rgba(0, 0, 0, 0.5);
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #0c84e4;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #0c7cd5;
  color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #b2dbfb;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #0c7cd5;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
  }
}
