{% extends "base.html" %}
{% block add_worm %}

<form method="POST" action="{% url 'add_worm' %}?next={{ request.path }}">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-8">
      <textarea class="form-control" cols="90" id="id_flink" maxlength="2000" name="flink" rows="1" placeholder="Full Link"></textarea>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4">
      <textarea class="form-control" cols="40" id="id_wtitle" maxlength="100" name="wtitle" rows="1" placeholder="Title"></textarea>
      <br>
      <input type="submit" class="btn btn-md btn-primary" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Shorten it!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;">
    </div>
    <div class="col-md-4">
      <textarea class="form-control" cols="40" id="id_winfo" maxlength="255" name="winfo" rows="4" placeholder="Description"></textarea>
    </div>
  </div>
</form>
<br>
<br>

{% endblock %}
