{% extends "base.html" %}
{% block add_worm %}

<form method="POST" action="{% url 'add_worm' %}?next={{ request.path }}">
  {% csrf_token %}
  <p>
    <textarea cols="90" id="id_flink" maxlength="2000" name="flink" rows="1" placeholder="Full Link"></textarea>
  </p>
  <p>
    <textarea cols="40" id="id_wtitle" maxlength="100" name="wtitle" rows="1" placeholder="Title"></textarea>
    &nbsp;&nbsp;&nbsp;&nbsp;<textarea cols="44" id="id_winfo" maxlength="255" name="winfo" rows="1" placeholder="Description"></textarea>
  </p>
  <p>
    <input type="submit" value="Shorten it!" class="btn btn-sm btn-primary">
  </p>
</form>

{% endblock %}
