{% load staticfiles %}
<!DOCTYPE html>
{% load bootstrap3 %}
{% load bootstrap_themes %}
{% bootstrap_styles theme='paper' type='min.css' %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=True %}

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}URLy Bird{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>

<body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'recent_worms' %}">URLy Bird</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav navbar-right">

            <li class="dropdown">
            <a href="{% url 'recent_worms' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Worm Stats <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{% url 'recent_worms' %}">Recent Worms</a></li>
              <li><a href="{% url 'popall_worms' %}">Most Popular Worms - All-Time</a></li>
              <li><a href="{% url 'pop30_worms' %}">Most Popular Worms - Last 30 Days</a></li>
              <li><a href="{% url 'top_birds' %}">Most Popular Birds - All-Time</a></li>
            </ul>
          </li>

          {% if user.is_authenticated %}

          <li class="dropdown">
          <a href="{% url 'bird_list' user.pk %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> {{ user.username }} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'bird_list' user.pk %}"><small><span class="glyphicon glyphicon-bookmark"></span></small>  {{ user.username }}'s Worms by Date</a></li>
            <li><a href="{% url 'bird_pop_list' user.pk %}">{{ user.username }}'s Worms by Popularity</a></li>
          </ul>
        </li>

          <li role="presentation">
            <a href="{% url 'user_logout' %}">Logout</a>
          </li>
          {% else %}
          <li role="presentation">
            <a href="{% url 'user_login' %}">Login</a>
          </li>
          <li role="presentation">
            <a href="{% url 'user_register' %}">Register</a>
          </li>
          {% endif %}
        </ul>
    </div>
  </div>
</nav>
  <div class="container">
    {% bootstrap_messages %}
    <div id="add-worm">
      {% block add_worm %}{% endblock %}
    </div>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </div>
</body>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-9"></div>
      <div class="col-md-3 pull-right">
        <br>
        <p><small>&copy;2015 Adam Hartz and Tyler Kotkin</small></p>
      </div>
    </div>
  </div>
</footer>
</html>
